<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
<div class="header">
  <div class="logo">
    <a routerLink="/">
    <img src="assets/icon.png" alt="Catvie Logo">
    </a>
  </div>
  
  <ul class="nav">
    <div class="search-container">
      <form (submit)="search()">
        <input type="text" class="search-input" [(ngModel)]="searchValue" name="searchValue" placeholder="Pesquisar...">
        <button class="search-button"><i class="fas fa-search"></i></button>
      </form>
    </div>
    <li><a routerLink="/">Inicial</a></li>
    <li><a routerLink="/films">Filmes</a></li>
    <li><a href="#">Séries</a></li>
    <li><a href="#">Avaliações</a></li>
  </ul>
</div>



<router-outlet></router-outlet>
<footer>
  © 2023 Cat. Todos os direitos reservados.
</footer>
  

